.box1{
    background-color: yellow;
    background-image: no-repeat;
    /* height: 700px; */
    /* width: 1500px; */
    border: solid 5px black;
    /* background-color: yellow; */
    background: linear-gradient(
        to bottom,
        yellow 50%,
        yellow 30%,
        black 50%
        black 50%,
    );
    height: 100vh;
    
}
    
    width: 90px;
/* .box2{ */
    /* text-align: center; */
}
.box5{
    border: solid 5px black;
    background-color: black;
}
.box6{
    font-size: large;
    color:white;
    background-color: black;
    height: 500px;
    width: 1500px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.box7{
    color:yellow;
    text-align: left;
}
.box8{
    color: yellow;
    text-align: justify;
    padding-bottom: 0px;
    margin-bottom: 250px;
    margin-left: 5px;
    margin-top: -9px;
    /* align-items: flex-end; */
    text-decoration-line: none;
    
}

